@borderRadius: 2px;

.full-container {
  width: 100%;
  height: 100%;
}

.grid-layout {
  --margin-length: 25px;
  --padding-length: 10px;

  // for grid base & grid area
  .grid-layout {
    display: grid;
    grid-template-rows: var(--rows);
    grid-template-columns: var(--columns);
    row-gap: var(--row-gap);
    column-gap: var(--column-gap);
  }

  // for grid track
  .grid-layout-track {
    display: grid;
    grid-template-rows: var(--margin-length) var(--rows);
    grid-template-columns: var(--margin-length) var(--columns);
  }

  & * {
    box-sizing: border-box;
  }

  width: 100%;
  height: 100%;

  padding: var(--padding-length) 5px 5px var(--padding-length);

  display: grid;
  grid-template-rows: var(--margin-length) 1fr;
  grid-template-columns: var(--margin-length) 1fr;

  .grid-base {
    grid-area: 2 / 2 / 3 / 3;

    .full-container;
    .grid-layout;

    & > * {
      background: aliceblue;
      border-radius: @borderRadius;
    }
  }

  .grid-area {
    grid-area: 2 / 2 / 3 / 3;

    .full-container;
    .grid-layout;

    .grid-area-child {
      grid-area: 1 / 1 / 3 / 3;
      background: yellowgreen;
      opacity: 0.7;
    }

    .grid-area-child2 {
      grid-area: 2 / 2 / 4 / 4;
      background: rebeccapurple;
      opacity: 0.7;
    }
  }

  .grid-track {
    grid-area: 1 / 1 / 3 / 3;

    .full-container;
    .grid-layout-track;
  }
}
